body{
    margin: 0em;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}
header{
    background: linear-gradient(to right, white,rgb(0, 140, 255));
    width: 100%;
    position: fixed;
    margin: 0em 0em;
}
.logo img{
    width: 100%;
    max-width: 18%;
    margin: -3vw 0vw -3.6vw 5vw;
}
.sidenav{
    position: fixed;
    background: rgb(0, 140, 255);
    left: 0em;
    margin-top: 5.33vw;
    top: 0;
    width: 15%;
    height: 100%;
    transition: 0.5s;
    transition-property: all;
    overflow-x: hidden;
    /* z-index: 1; */
}
.sidenav .profile img{
    width: 100%;
    max-width: 30%;
    border-radius: 3vw;
    margin-top: 1.3vw;
    margin-bottom: 0.5vw;
}
.name{
    font-size: 1.5vw;
    color: white;
}
.general{
    font-size: 1.5vw;
    margin: 1vw 1vw 0.3vw 0.8vw;
}
/* nav ul li a{
    display: block;
} */

nav ul{
    list-style: none;
    width: 100%;
    margin: 0 auto;
    padding: 0.3vw 0vw 0vw 0vw;
}
nav li{
    padding: 0.75vw 0vw 0.75vw 1.3vw;
    margin: 0vw 0vw 0vw 0.5vw;
    font-size: 1.2vw;
    transition: 0.5s;
    transition-property: background;
    border-radius: 0.7vw 0vw 0vw 0.7vw;
}
nav li:hover{
    background: rgb(109, 179, 236);
}
nav a{
    text-decoration-line: none;
    color: rgb(3, 68, 121);
}
nav a:hover{
    text-decoration-line: none;
}
nav i {
    padding: 0vw .3vw 0vw 0vw;
}
nav li.active{
    /* background: rgb(1, 86, 155); */
    background: white;
}
nav .user a , nav .user li{
    color: white;
    font-size: 1.3vw;
    list-style: none;
}
nav .user button{
    padding: 0.4vw 0.5vw;
    margin: 1vw 3vw;
    background: black;
    color: white;
    font-size: 1vw;
}
nav .user .user-user{
    font-size: 1.5vw;
    margin: 1vw 1vw 0.3vw 0.8vw;
}
main{
    width: 82%;
    margin-left: 17vw;
    margin-top: 5vw;
    padding: 0vw 1vw 0vw 0.5vw;
    transition: 0.5s;
    transition-property: margin-left;
}
.fa-bars{
    transition: 0.3s;
    transition-property: color;
    display: none;
}
.fa-bars:hover{
    color:rgb(0, 140, 255) ;
}
/* main hr{
    margin-top: -1em;
} */
@media (max-width: 800px){
    .fa-bars{
        display: block;
    }
    .sidenav{
        display: none;
    }
    main{
        width: 100%;
        margin-left: 1.8vw;
        margin-top: 0;
        padding: 0;
    }
}
.main-content{
    display: flex;
    justify-content: space-around;
    margin: 1vw 0vw 0vw 0vw;
}
.main-content .card-content{
    box-shadow: 1px 2px 20px 4px rgba(128, 128, 128, 0.322);
    padding: 1.3vw 2vw;
    border-radius: 0.3vw;
}
.content-name{
    font-size: 3vw;
}
.card-content-name{
    font-size: 1.5vw;
}
@media (max-width: 800px) {
    .main-content{
        flex-direction: column;
    }
}
.head{
    display: flex;
    justify-content: space-between;
    margin: 1vw auto -1.3vw auto;
}
.add-btn{
    padding: 1vw 2vw 1vw 0vw;
}
.add-btn button,
.add-btn button:focus{
    padding: 0.6vw 0.7vw;
    border-radius: 0.5vw;
    font-size: 1.2vw;
}
.add-btn i{
    padding-right: .2vw;
}
.student-main-content-searches{
    margin: 2.5vw 0vw;
}
.student-main-content-form{
    display: flex;
    justify-content: space-between;
}
.student-main-content-form .form-col{
    display: flex;
    margin: 0 0.3vw;
}
.student-main-content-form .form-col select, .student-main-content-form .form-col input{
    padding: 0.5vw 0.7vw;
    border:1px solid rgb(0, 140, 255);
    font-size: 0.9vw;
    border-right-style: none;
    border-radius: 0.3vw 0vw 0vw 0.3vw;
}
.form-col select option{
    background: rgb(0, 140, 255);
    color: white;
    font-size: 1.1vw;
    margin: 2vw 0vw;
}
.form-col select option:hover{
    background: rgb(6, 43, 73);
}
.form-col select:focus, .form-col input:focus{
    outline: none !important;
    border:1px solid rgb(0, 140, 255);
    box-shadow: 0vw 0vw 0.5vw 0vw#6497ce;
    border-right-style: none;
}
.form-col button{
    /* color: white;
    background-color: rgb(0, 140, 255); */
    /* border: 1px solid rgb(0, 140, 255); */
    border-radius: 0vw 0.3vw 0.3vw 0vw;
    font-size: 1vw;
}
.form-col button:hover , .form-col button:focus{
    background-color: transparent;
    border: 1px solid rgb(0, 140, 255);
    color: rgb(0, 140, 255);
    transition: 0.5s;
}
.list-name-table{
    font-size: 2vw;
    margin-top: 2vw;
}
.students-table{
    border-collapse: collapse;
    width: 100%;
}
.students-table th{
    text-align: left;
    background-color: rgb(0, 140, 255);
    color: white;
}
.students-table td, th{
    border: 1px solid #ddd;
    padding: 0.5vw 0.6vw;
}
.students-table tr:nth-child(even){
    background-color: rgba(6, 142, 253, 0.452);
}
.students-table tr:hover{
    background-color: rgb(98, 177, 241);
}
.students-table td{
    font-size: 1vw;
}
.students-table th{
    font-size: 1.25vw;
}
.students-table td .btn{
    font-size: 1vw;
}
.update i, .delete i{
    padding-right: 0.2vw;
}
.dark-mode {
    background-color: black;
    color: white;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}