<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="./stylesheets/content.css">
    <title>SOUTHAMPTON UNIVERSITY</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="./Images/output-onlinepngtools.png" alt="">
        </div>
    </header>
    <aside class="sidenav">
        <center>
            <div class="profile">
                <img src="https://steamuserimages-a.akamaihd.net/ugc/876373332530779744/6B985A2ADDCAF38C22F0D85A0DFF94ADC6EE7CA9/"
                    alt="profile">
                <h4>Jonalyn Mobilla</h4>
            </div>
        </center>
        <hr>
        <nav>
            <h5>GENERAL</h5>
            <ul>
                <li class="active"><a href="#dashboard"><i class="fas fa-desktop"></i> Dashboard</a></li>
                <li><a href="#student"><i class="fas fa-users"></i> Students</a></li>
                <li><a href="#faculty"><i class="fas fa-chalkboard-teacher"></i> Faculty</a></li>
                <li><a href="#recognition"><i class="fas fa-trophy"></i> Recognitions</a></li>
            </ul>
            
        </nav>
    </aside>
    <br><br>
    <main>
        <!-- DASHBOARD -->
        <div id="dashboard" class="content">
            <i class="fas fa-bars"></i>
            <h2>Dashboard</h2>
            <hr>
            <div class="main-content">
                <div class="card">
                    <h5>No. of Student <br><span>S.Y 2019-present</span></h5>
                </div>
                <div class="card">
                    <h5>No. of students <br><span>S.Y 2018-2019</span></h5>
                </div>
                <div class="card">
                    <h5>School revenue</h5>
                </div>
            </div>
            <div>
                <canvas id="bar-chart" width="800" height="450"></canvas>
            </div>
        </div>
        <!-- STUDENTS -->
        <div id="student" class="content">
            <i class="fas fa-bars"></i>
            <div class="head">
                <h2>Students</h2>
                <div class="add-btn">
                    <button type="submit" name="btn-add" data-toggle="modal" data-target="#myModal"><i
                            class="fas fa-user-plus"></i>ADD STUDENT</button>
                </div>
            </div>
            <hr>
            <div class="students-main-content">
                <div class="student-main-content-searches">
                    <form action="" method="post" class="student-main-content-form">
                        <div class="form-col">
                            <!-- <input type="text" name="search-by-course" placeholder="search by course"> -->
                            <select name="select-course" id="course">
                                <option value="">SELECT COURSE</option>
                                <option value="">CCT</option>
                                <option value="">BSIT</option>
                                <option value="">BS Interior Design</option>
                                <option value="">BSA</option>
                                <option value="">BSBA Major in MM</option>
                                <option value="">BSED</option>
                                <option value="">BSCE</option>
                                <option value="">AB Broadcasting</option>
                                <option value="">BA</option>
                                <option value="">BS Psychology</option>
                            </select>
                            <button type="submit">Search Student</button>
                        </div>
                        <div class="form-col">
                            <input type="text" name="search-by-year" placeholder="search by year">
                            <button type="submit">Search Student</button>
                        </div>
                        <div class="form-col">
                            <input type="text" name="search-by-surname" placeholder="search by surname">
                            <button type="submit">Search Student</button>
                        </div>
                        <div class="form-col">
                            <!-- <input type="text" name="search-by-school-year" placeholder="search by school year"> -->
                            <select name="select-school-year" id="school-year">
                                <option value="">S.Y 2019-2020</option>
                                <option value="">S.Y 2019-2018</option>
                                <option value="">S.Y 2018-2017</option>
                                <option value="">S.Y 2017-2016</option>
                            </select>
                            <button type="submit">Search Student</button>
                        </div>
                    </form>
                </div>
                <h5>List of all students</h5>
                <table class="students-table">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Birthdate</th>
                        <th>Address</th>
                        <th>Contact No.</th>
                        <th>Email</th>
                        <th>Course</th>
                        <th>Year</th>
                        <th>Actions</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>Jonalyn</td>
                        <td>Mobilla</td>
                        <td>20</td>
                        <td>01-17-2000</td>
                        <td>Leyte</td>
                        <td>09071152272</td>
                        <td>jonalynmobilla69@gmail.com</td>
                        <td>CCT</td>
                        <td>2</td>
                        <td><button class="update"><i class="fas fa-edit"></i> Update</button></td>
                        <td><button class="delete"><i class="fas fa-trash"></i> Delete</button></td>
                    </tr>
                    <tr>
                        <td>Quency</td>
                        <td>Atacador</td>
                        <td>19</td>
                        <td>01-19-2000</td>
                        <td>Samar</td>
                        <td>09958471254</td>
                        <td>quencyatacador@gmail.com</td>
                        <td>CCT</td>
                        <td>2</td>
                        <td><button class="update"><i class="fas fa-edit"></i>Update</button></td>
                        <td><button class="delete"><i class="fas fa-trash"></i>Delete</button></td>
                    </tr>
                    <tr>
                        <td>Shenna</td>
                        <td>Caneda</td>
                        <td>19</td>
                        <td>12-23-2000</td>
                        <td>Leyte</td>
                        <td>09254879632</td>
                        <td>shennacaneda@gmail.com</td>
                        <td>CCT</td>
                        <td>2</td>
                        <td><button class="update"><i class="fas fa-edit"></i>Update</button></td>
                        <td><button class="delete"><i class="fas fa-trash"></i>Delete</button></td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- FACULTY -->
        <div id="faculty" class="content">
            <i class="fas fa-bars"></i>
            <h2>Faculty</h2>
            <hr>
        </div>
        <!-- RECOGNITION -->
        <div id="recognition">
            <i class="fas fa-bars"></i>
            <h2>Recognitions</h2>
            <hr>
        </div>
    </main>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="./content.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>