body{
    font-family: 'Poppins', sans-serif;
}
.logo{
    background: url('https://s3-eu-west-1.amazonaws.com/hawkinsbrown/images/projects/Projects_148_AvenueCampus_Carousel_2.jpg?mtime=20150718231728');
    background-size: cover;
    margin: 0 auto;
    height: 470px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    
}
.logo img{
    width: 100%;
    margin: -2vw auto;
}
.account-get button{
    width: 13%;
    margin: 0 1vw;
    font-size: 1.3vw;
    padding: 0.4vw 0.4vw;
    background-color: rgb(0, 140, 255);
    color: white;
    border: 2px solid rgb(0, 140, 255);
    border-radius: 5px;
}
.account-get button:focus{
    border: 1px solid rgb(0, 140, 255);
    color: rgb(245, 248, 250);
    outline: none;
}
.account-get{
    display: flex;
    justify-content: center;
}
.modal-body{
    display: flex;
    flex-direction: column;
    margin: 2.5vw 2vw;
}
.modal-body-form{
    margin: 0.5vw 0;
    padding: 0.3vw 0;
    border-radius:.3vw;
    border: 2px solid grey;
}
.modal-body-form:focus{
    background: rgb(136, 198, 248);
    transition: .7s;
}
.modal-body label{
    font-size: 1.5vw;
}
.modal-body i{
    color: rgb(0, 140, 255);
}
.fa-user-circle.text-center{
    font-size: 6vw;
    margin:-0.5vw 0vw 0vw 0vw;
}
@media (max-width:620px){
    .account-get{
        flex-direction: column;
        margin: 0;
    }
}